node_modules/
.expo/
dist/
dist-test/
*.hbc
.DS_Store
*.log
app/node_modules/
app/.expo/
app/.git/
public/
.sixth/
src/App.jsx
src/App.css
src/main.jsx
src/index.css
index.html
vite.config.js
eslint.config.js
